<html>
  <head>
    <meta charset="UTF-8">
    <title>Lista de numeros</title>
  </head>
  <body>
    <h1>Lista com números aleatórios ordenados</h1>
    <ul>
      <% list.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</htlm>